@import url('../../static/assets/css/font-awesome.css');
.app {
    /* background-color: red; */
    height: 100px;
    width: 100px;
    background: url('../../static/assets/img/2-6.png');
}

i {
    font-family: 'FontAwesome';
}